.env
uploads/
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/
docker-compose.override.yml

# Local user config
.local/
.config/

# Docker
.docker/

# Sample images
samples/

# bash
.bashrc
.bash_history

# zsh
.zshrc
.zsh_history
.histfile
